<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cardMapper">

	<resultMap type="Card" id="cardResult">
	
		<result property="cardRegNo" column="CARD_REG_NO"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="cardIssuer" column="CARD_ISSUER"/>
		<result property="cardName" column="CARD_NAME"/>
		<result property="cardStatus" column="CARD_STATUS"/>
		<result property="ctgNo" column="CTG_NO"/>
		
		<result property="cardLine" column="CREDIT_LINE"/>
		<result property="paymentType" column="PAYMENT_TYPE"/>
		<result property="cardNo" column="CARD_NO"/>
		<result property="expirationDate" column="EXPIRATION_DATE"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		
		<result property="statNo" column="STAT_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="paymentStatus" column="PAYMENT_STATUS"/>
		<result property="amount" column="AMOUNT"/>
		<result property="transactionDate" column="TRANSACTION_DATE"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="statMemo" column="STAT_MEMO"/>
		<result property="statStatus" column="STAT_STATUS"/>
		
		<result property="empName" column="EMP_NAME"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		
	</resultMap>
	
	<select id="cardStatListCount" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM CARD_STATEMENT A
		  JOIN EMPLOYEE B ON (A.EMP_NO = B.EMP_NO)
		  JOIN DEP_CARD C ON (A.CARD_REG_NO = C.CARD_REG_NO)
		 WHERE A.STAT_STATUS = 'Y'
  		   AND C.DEPT_CODE = #{deptCode}
	 </select>
	
	<select id="selectCardStatList" resultMap="cardResult">
		SELECT 
		       A.STAT_NO
		     , A.EMP_NO
		     , B.EMP_NAME
		     , TO_CHAR(A.TRANSACTION_DATE, 'YYYY-MM-DD') AS TRANSACTION_DATE
		     , A.AMOUNT
		     , A.STORE_NAME
		     , CASE WHEN A.PAYMENT_STATUS = 'A' THEN '승인'
		            ELSE '취소'
		       END AS PAYMENT_STATUS
		  FROM CARD_STATEMENT A
		  JOIN EMPLOYEE B ON (A.EMP_NO = B.EMP_NO)
		  JOIN DEP_CARD C ON (A.CARD_REG_NO = C.CARD_REG_NO)
		 WHERE A.STAT_STATUS = 'Y'
  		   AND C.DEPT_CODE = #{deptCode}
		 ORDER BY A.STAT_NO DESC
	 </select>
	 
	<insert id="insertCardStat">
		INSERT ALL
		  INTO CARD_STATEMENT
		VALUES( SEQ_CSNO.NEXTVAL 
		      , ( SELECT A.CARD_REG_NO 
		            FROM DEP_CARD A 
		           WHERE DEPT_CODE = ( SELECT B.DEPT_CODE 
		                                 FROM EMPLOYEE B 
		                                WHERE EMP_NO = #{empNo}
		                             ) 
		        ) 
		      , #{empNo} , #{paymentStatus} , #{amount} , #{transactionDate} , #{storeName} 
		      , #{statMemo} , DEFAULT , DEFAULT
		      )
		  INTO ATTACHMENT
		VALUES( SEQ_FNO.NEXTVAL , SEQ_CSNO.CURRVAL , 'CS' , #{originName} , #{changeName}
		      , #{filePath} , SYSDATE , DEFAULT )
		SELECT *
		  FROM DUAL 	
	</insert>
	
	<select id="selectCardStat" resultMap="cardResult">
		SELECT 
		       A.STAT_NO
		     , A.EMP_NO
		     , B.EMP_NAME
		     , A.PAYMENT_STATUS
		     , A.AMOUNT
		     , TO_CHAR(A.TRANSACTION_DATE, 'YYYY-MM-DD') AS TRANSACTION_DATE
		     , A.STORE_NAME
		     , A.STAT_MEMO
		     , C.CHANGE_NAME
		     , C.ORIGIN_NAME
		  FROM CARD_STATEMENT A
		  LEFT JOIN EMPLOYEE B ON (A.EMP_NO = B.EMP_NO)
		  LEFT JOIN ATTACHMENT C ON (A.STAT_NO = C.REF_NO AND A.CTG_NO = C.CTG_NO)
		 WHERE A.STAT_STATUS = 'Y'
		   AND A.STAT_NO = #{statNo}
	</select>
	
	<update id="updateCardStat">
		UPDATE CARD_STATEMENT
		   SET
		       PAYMENT_STATUS = #{paymentStatus}
		     , AMOUNT = #{amount}
		     , TRANSACTION_DATE = #{transactionDate}
		     , STORE_NAME = #{storeName}
		     , STAT_MEMO = #{statMemo}
		 WHERE STAT_STATUS = 'Y'
		   AND STAT_NO = #{statNo}
	</update>
	
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT
		VALUES (
		       SEQ_FNO.NEXTVAL
		     ,  #{statNo}
		     , 'CS'
		     , #{originName}
		     , #{changeName}
		     , #{filePath}
		     , SYSDATE
		     , DEFAULT
		       )
	</insert>
	
	<update id="updateAttachment">
		UPDATE ATTACHMENT
		   SET
		       CHANGE_NAME = #{changeName}
		     , ORIGIN_NAME = #{originName}
		 WHERE STATUS = 'Y'
		   AND CTG_NO = 'CS'
		   AND REF_NO = #{statNo}
	</update>
	
	<update id="deleteCardStat">
		UPDATE CARD_STATEMENT
		   SET STAT_STATUS = 'N'
		 WHERE STAT_STATUS = 'Y'
		   AND STAT_NO = #{statNo}
	</update>
	
	<update id="deleteAttachment">
		UPDATE ATTACHMENT
		   SET STATUS = 'N'
		 WHERE STATUS = 'Y'
		   AND CTG_NO = 'CS'
		   AND REF_NO = #{statNo}
	</update>
</mapper>