<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">


	<resultMap type="Department" id="departmentResultSet">
		<id column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
	</resultMap>
	
	<resultMap type="Contect" id="ContectResultSet">
		<id column="EMP_NO" property="empNo"/>
		<result column="S_NO" property="sNo"/>
		<result column="S_NAME" property="sName"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="JOB_NAME" property="jobName"/>
		<result column="EMP_ID" property="empId"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
	<resultMap type="Chat" id="ChatResultSet">
		<id column="CHAT_NO" property="chatNo"/>
		<result column="MESSAGE" property="message"/>
		<result column="TO_CHAT" property="toChat"/>
		<result column="FROM_CHAT" property="fromChat"/>
		<result column="SENDTIME" property="sendTime"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>

	<select id="selectDeptList" resultMap="departmentResultSet">
		SELECT *
		FROM DEPARTMENT

	</select>
	
	<select id="selectEmpList" parameterType="string" resultMap="ContectResultSet">
		SELECT 
		     A.EMP_NO
		   , E.S_NAME
		   , B.EMP_NAME
		   , D.DEPT_NAME
		   , C.JOB_NAME
		FROM CONTECT A
   LEFT JOIN EMPLOYEE B ON A.EMP_NO = B.EMP_NO
   LEFT JOIN JOB C ON B.JOB_CODE = C.JOB_CODE
   LEFT JOIN DEPARTMENT D ON B.DEPT_CODE = D.DEPT_CODE
   LEFT JOIN WORK_STATUS_TYPE E ON A.S_NO = E.S_NO
	   WHERE B.ENT_YN = 'Y' AND D.DEPT_NAME = #{deptName}
	   ORDER BY B.EMP_NAME
	</select>
	
	
	<select id="selectEmployee" parameterType="_int" resultMap="ContectResultSet">
	  SELECT 
		     A.EMP_NO
		   , E.S_NAME
		   , B.EMP_NAME
		   , D.DEPT_NAME
		   , C.JOB_NAME
		   , B.EMP_ID
		   , F.CHANGE_NAME AS CHANGE_NAME
		FROM CONTECT A
   LEFT JOIN EMPLOYEE B ON A.EMP_NO = B.EMP_NO
   LEFT JOIN JOB C ON B.JOB_CODE = C.JOB_CODE
   LEFT JOIN DEPARTMENT D ON B.DEPT_CODE = D.DEPT_CODE
   LEFT JOIN WORK_STATUS_TYPE E ON A.S_NO = E.S_NO
   LEFT JOIN ATTACHMENT F ON F.CTG_NO = B.CTG_NO AND F.REF_NO = B.EMP_NO AND F.STATUS = 'Y'
	   WHERE B.ENT_YN = 'Y' AND A.EMP_NO = #{empNo}
	</select>
	
	<select id="selectChatList" parameterType="Chat" resultMap="ChatResultSet">
 <![CDATA[
	SELECT 
		  A.CHAT_NO
	    , A.MESSAGE
	    , A.TO_CHAT
	    , A.FROM_CHAT
	    , A.SENDTIME
	  FROM CHAT A
 LEFT JOIN EMPLOYEE B ON B.EMP_NO = A.FROM_CHAT AND B.ENT_YN = 'Y'
 LEFT JOIN ATTACHMENT C ON C.CTG_NO = B.CTG_NO AND C.REF_NO = B.EMP_NO AND C.STATUS = 'Y'
	 WHERE (TO_CHAT = #{toChat}
       AND FROM_CHAT= #{fromChat} 
       OR TO_CHAT= #{fromChat} 
       AND FROM_CHAT = #{toChat})
	   AND ROUND((SYSDATE-TO_DATE(SENDTIME,'YYYY-MM-DD HH24:MI:SS'))*24,2) <= 168
  ORDER BY SENDTIME
	   ]]>
	</select>
	
	<insert id="insertMessage" parameterType="Chat">
		INSERT INTO CHAT 
		VALUES
		(SEQ_CNO.NEXTVAL, #{message}, #{toChat}, #{fromChat}, TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'))
	
	
	</insert>
	
	<update id="updateStatus" parameterType="Contect">
		UPDATE CONTECT SET
		       S_NO = #{sNo}
		 WHERE EMP_NO = #{empNo}
	
	
	</update>
	
	
</mapper>