<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

	<resultMap type="Employee" id="employeeResultSet">
		<result property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="empId" column="EMP_ID"/>
		<result property="empReg" column="EMP_REG"/>
		<result property="gender" column="GENDER"/>
		<result property="empPwd" column="EMP_PWD"/>
		<result property="address" column="ADDRESS"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="disabledYN" column="DISABLE_YN"/>
		<result property="empNote" column="EMP_NOTE"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="apvYN" column="APV_YN"/>
		<result property="entYN" column="ENT_YN"/>
		<result property="ctgNo" column="CTG_NO"/>
	  	<result property="deptName" column="DEPT_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobVacation" column="JOB_VACATION"/>
		<result property="originName" column="ORIGIN_NAME"/>
      	<result property="changeName" column="CHANGE_NAME"/>
      	<result property="telNo" column="TEL_NO"/>
	</resultMap>
	
	<select id="loginEmp" parameterType="Employee" resultMap="employeeResultSet">
		SELECT
		       A.EMP_NO , A.EMP_NAME , A.PHONE , A.EMP_ID , SUBSTR(A.EMP_REG,1,6) EMP_REG
		     , A.GENDER , A.EMP_PWD , A.ADDRESS , A.DEPT_CODE , A.JOB_CODE
		     , A.DISABLE_YN , A.EMP_NOTE , A.HIRE_DATE , A.ENT_DATE, A.APV_YN
		     , A.ENT_YN , A.CTG_NO , B.DEPT_NAME , C.JOB_NAME , C.JOB_VACATION
		     , A.TEL_NO , D.ORIGIN_NAME , D.CHANGE_NAME
		  FROM EMPLOYEE A
		  LEFT JOIN DEPARTMENT B ON(A.DEPT_CODE=B.DEPT_CODE)
		  LEFT JOIN JOB C ON(A.JOB_CODE=C.JOB_CODE)
		  LEFT JOIN ATTACHMENT D ON (A.EMP_NO = D.REF_NO AND A.CTG_NO = D.CTG_NO)
		 WHERE A.EMP_ID = #{empId}
		   AND A.APV_YN = 'Y'
		   AND A.ENT_YN = 'Y'
	</select>
	
	<insert id="insertEmp" parameterType="Employee">
		INSERT
		  INTO EMPLOYEE VALUES( SEQ_EMNO.NEXTVAL, #{empName}, #{phone}, #{empId}, #{empReg}
		                      , #{gender}, #{empPwd}, #{address}, NULL, NULL
		                      , DEFAULT, NULL, SYSDATE, NULL, DEFAULT
                              , DEFAULT, DEFAULT, NULL
		                      )
	</insert>
</mapper>