<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="skedMapper">

	<resultMap type="Schedule" id="scheduleResult">
		<result property="skedNo" column="SKED_NO"/>
		<result property="skedCode" column="SKED_CODE"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="colorCode" column="COLOR_CODE"/>
		<result property="skedTitle" column="SKED_TITLE"/>
		<result property="skedContent" column="SKED_CONTENT"/>
		<result property="skedStatus" column="SKED_STATUS"/>
		<result property="skedPlace" column="SKED_PLACE"/>
		<result property="skedMemo" column="SKED_MEMO"/>
		<result property="skedStart" column="SKED_START"/>
		<result property="skedStartTime" column="SKED_START_TIME"/>
		<result property="skedEnd" column="SKED_END"/>
		<result property="skedEndTime" column="SKED_END_TIME"/>
		<result property="skedCName" column="SKED_C_NAME"/>
		<result property="rgbCode" column="RGB_CODE"/>
		<result property="colorName" column="COLOR_NAME"/>
	</resultMap>
	
	<select id="scheduleList" resultMap="scheduleResult">
		SELECT
		       A.SKED_NO
		     , A.SKED_TITLE
		     , TO_CHAR(B.SKED_START, 'YYYY-MM-DD') AS SKED_START
		     , B.SKED_START_TIME
		     , TO_CHAR(B.SKED_END, 'YYYY-MM-DD') AS SKED_END
		     , B.SKED_END_TIME
		     , C.RGB_CODE
		  FROM SCHEDULE A
		  JOIN SCHEDULE_INFO B ON(A.SKED_NO=B.SKED_NO)
		  JOIN SCHEDULE_COLOR C ON(A.COLOR_CODE=C.COLOR_CODE)
		 WHERE A.SKED_STATUS = 'Y'
		   AND A.EMP_NO = #{empNo}
		   <if test='!skedCode.equals("C")'>
		   AND A.SKED_CODE = #{skedCode}
		   </if>
	</select>
	
	<select id="selectSchedule" resultMap="scheduleResult">
		SELECT
		       A.SKED_NO
		     , A.SKED_CODE
		     , A.EMP_NO
		     , A.COLOR_CODE
		     , A.SKED_TITLE
		     , A.SKED_CONTENT
		     , A.SKED_PLACE
		     , A.SKED_MEMO
		     , TO_CHAR(B.SKED_START, 'YYYY-MM-DD') AS SKED_START
		     , B.SKED_START_TIME
		     , TO_CHAR(B.SKED_END, 'YYYY-MM-DD') AS SKED_END
		     , B.SKED_END_TIME
		  FROM SCHEDULE A
		  JOIN SCHEDULE_INFO B ON(A.SKED_NO=B.SKED_NO)
		 WHERE A.SKED_STATUS = 'Y'
		   AND A.EMP_NO = #{empNo}
		   <if test='!skedCode.equals("C")'>
		   AND A.SKED_CODE = #{skedCode}
		   </if>
		   AND A.SKED_NO = #{skedNo}
	</select>
	
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE
		     VALUES(
		             SEQ_SKNO.NEXTVAL 
		           , #{skedCode} 
		           , #{empNo}
		           , #{colorCode}
		           , #{skedTitle}
		           , #{skedContent}
		           , DEFAULT 
		           , #{skedPlace}
		           , #{skedMemo}
		           )
	</insert>
	
	<insert id="insertScheduleInfo">
		INSERT INTO SCHEDULE_INFO
		     VALUES(
		             (
		              SELECT MAX(SKED_NO)
		                FROM SCHEDULE
		               WHERE EMP_NO = #{empNo}
		             )
		           , #{skedStart}
		           , #{skedStartTime}
		           , #{skedEnd}
		           , #{skedEndTime}
		           )
	</insert>
	
	<update id="updateSchedule">
		UPDATE SCHEDULE
		   SET
		       COLOR_CODE = #{colorCode}
		     , SKED_TITLE = #{skedTitle}
		     , SKED_CONTENT = #{skedContent}
		     , SKED_PLACE = #{skedPlace}
		     , SKED_MEMO = #{skedMemo}
		 WHERE SKED_STATUS = 'Y'
		   AND SKED_NO = #{skedNo}
	</update>
	
	<update id="updateScheduleInfo">
		UPDATE SCHEDULE_INFO
		   SET
		       SKED_START = #{skedStart}
		     , SKED_START_TIME = #{skedStartTime}
		     , SKED_END = #{skedEnd}
		     , SKED_END_TIME = #{skedEndTime}
		 WHERE SKED_NO = #{skedNo}
	</update>
	
	<update id="deleteSchedule">
		UPDATE SCHEDULE
		   SET
		       SKED_STATUS = 'N'
		 WHERE SKED_STATUS = 'Y'
		   AND SKED_NO = #{skedNo}
	</update>
	
	<select id="searchScheduleList" resultMap="scheduleResult">
		SELECT
		       A.SKED_NO
		     , TO_CHAR(B.SKED_START, 'YYYY-MM-DD') AS SKED_START
		     , B.SKED_START_TIME
		     , TO_CHAR(B.SKED_END, 'YYYY-MM-DD') AS SKED_END
		     , B.SKED_END_TIME
		     , A.SKED_TITLE
		     , A.SKED_CONTENT
		     , C.SKED_C_NAME
		  FROM SCHEDULE A
		  JOIN SCHEDULE_INFO B ON(A.SKED_NO=B.SKED_NO)
		  JOIN SCHEDULE_CLASS C ON(A.SKED_CODE=C.SKED_CODE)
		 WHERE A.SKED_STATUS = 'Y'
		   AND A.EMP_NO = #{empNo}
		   AND (
		           A.SKED_TITLE LIKE #{keyWord}
		        OR A.SKED_CONTENT LIKE #{keyWord}
		       )
      ORDER BY SKED_START DESC
	</select>
	
	<select id="searchScheduleCount" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM SCHEDULE A
		 WHERE A.SKED_STATUS = 'Y'
		   AND A.EMP_NO = #{empNo}
		   AND (
		           A.SKED_TITLE LIKE #{keyWord}
		        OR A.SKED_CONTENT LIKE #{keyWord}
		       )	
	</select>
	
	<select id="dayScheduleList" resultMap="scheduleResult">
		SELECT 
		       A.SKED_NO
		     , A.SKED_TITLE
		     , A.SKED_CONTENT
		     , B.SKED_START_TIME
		     , B.SKED_END_TIME
	         , C.RGB_CODE
		  FROM SCHEDULE A
		  JOIN SCHEDULE_INFO B ON (A.SKED_NO = B.SKED_NO)
		  JOIN SCHEDULE_COLOR C ON(A.COLOR_CODE=C.COLOR_CODE)
		 WHERE A.SKED_STATUS = 'Y'
		   AND A.EMP_NO = #{empNo}
		<![CDATA[ 
		   AND ((B.SKED_START BETWEEN #{skedStart} AND #{skedStart})
		    OR (B.SKED_END BETWEEN #{skedStart} AND #{skedStart})
		    OR (B.SKED_START <= #{skedStart} AND B.SKED_END >=#{skedStart}))
		]]>
	</select>
	
</mapper>