<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="skedMapper">
	<resultMap type="Schedule" id="scheduleResultSet">
		<result property="skedNo" column="SKED_NO"/>
		<result property="skedCode" column="SKED_CODE"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="colorCode" column="COLOR_CODE"/>
		<result property="skedTitle" column="SKED_TITLE"/>
		<result property="skedContent" column="SKED_CONTENT"/>
		<result property="skedStatus" column="SKED_STATUS"/>
		<result property="skedPlace" column="SKED_PLACE"/>
		<result property="skedMemo" column="SKED_MEMO"/>
		<result property="skedStart" column="SKED_START"/>
		<result property="skedStartTime" column="SKED_START_TIME"/>
		<result property="skedEnd" column="SKED_END"/>
		<result property="skedEndTime" column="SKED_END_TIME"/>
		<result property="skedCName" column="SKED_C_NAME"/>
		<result property="rgbCode" column="RGB_CODE"/>
		<result property="colorName" column="COLOR_NAME"/>
	</resultMap>
	
	<select id="scheduleList" resultMap="scheduleResultSet">
		SELECT
		       A.SKED_NO
		     , A.SKED_TITLE
		     , TO_CHAR(B.SKED_START, 'YYYY-MM-DD') AS SKED_START
		     , B.SKED_START_TIME
		     , TO_CHAR(B.SKED_END, 'YYYY-MM-DD') AS SKED_END
		     , B.SKED_END_TIME
		     , C.RGB_CODE
		  FROM SCHEDULE A
		  JOIN SCHEDULE_INFO B ON(A.SKED_NO=B.SKED_NO)
		  JOIN SCHEDULE_COLOR C ON(A.COLOR_CODE=C.COLOR_CODE)
		 WHERE A.SKED_STATUS = 'Y'
		   AND A.EMP_NO = #{empNo}
		   <if test='!skedCode.equals("C")'>
		   AND A.SKED_CODE = #{skedCode}
		   </if>
	</select>
</mapper>