<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="signMapper">
	
	<resultMap type="Sign" id="singResultSet">
		<id property="signNo" column="SIGN_NO"/>
		<result property="typeCode" column="TYPE_CODE"/>
		<result property="signTitle" column="SING_TITLE"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="firstApprover" column="FIRST_APPROVER"/>
		<result property="finalApprover" column="FINAL_APPROVER"/>
		<result property="firstSignDate" column="FIRST_SIGN_DATE"/>
		<result property="FINAL_SIGN_DATE" column="finalSignDate"/>
		<result property="rejectDate" column="REJECT_DATE"/>
		<result property="statusCode" column="STATUS_CODE"/>
		<result property="status" column="STATUS"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>

		<resultMap type="Employee" id="employeeResultSet">
		<result property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="empId" column="EMP_ID"/>
		<result property="empReg" column="EMP_REG"/>
		<result property="gender" column="GENDER"/>
		<result property="empPwd" column="EMP_PWD"/>
		<result property="address" column="ADDRESS"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="disabledYN" column="DISABLE_YN"/>
		<result property="empNote" column="EMP_NOTE"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="apvYN" column="APV_YN"/>
		<result property="entYN" column="ENT_YN"/>
		<result property="ctgNo" column="CTG_NO"/>
	  <result property="deptName" column="DEPT_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobVacation" column="JOB_VACATION"/>
		<result property="telNo" column="TEL_NO"/>
	</resultMap>
	
	
	<select id="selectList" resultMap="employeeResultSet">
  		 SELECT
            A.*,
			B.DEPT_NAME,
            C.JOB_NAME
			FROM
			 EMPLOYEE A
			JOIN DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
            JOIN JOB C ON A.JOB_CODE = C.JOB_CODE
			WHERE A.JOB_CODE IN ( 'J5', 'J4', 'J3' )
			AND B.DEPT_NAME IN ( '기획영업부', '마케팅부', '인사관리부')
			ORDER BY B.DEPT_NAME, A.JOB_CODE DESC
			
	</select>
		
	<insert id="insertName" parameterType="_int">
		INSERT INTO SIGN
	VALUES
    (SEQ_GNO.NEXTVAL, 'AA', NULL, #{eNo}, SYSDATE, (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{eNo}), NULL, NULL, NULL, NULL, 'W', 'Y', NULL)
	
	
	</insert>	
		
		
	<select id="selectName" resultMap="singResultSet" parameterType="_int">
		SELECT 
			A.*,
			B.EMP_NAME,
			C.JOB_NAME
			FROM SIGN A
			JOIN EMPLOYEE B ON A.EMP_NO = B.EMP_NO
			JOIN JOB C ON B.JOB_CODE = C.JOB_CODE
			WHERE A.EMP_NO = #{eNo}
	</select>	
		
	</mapper>

		