<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="workMapper">

	<resultMap type="Work" id="workResultSet">
		<id property="workNo" column="WORK_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="workDate" column="WORK_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="totalTime" column="TOTAL_TIME"/>
		<result property="strDate" column="STR_DATE"/>
	</resultMap>
	
	<resultMap type="WorkSInfo" id="workSInfoResultSet">
		<id property="sNo" column="S_NO"/>
		<!--  <result property="empNo" column="EMP_NO"/>-->
		<result property="workNo" column="WORK_NO"/>
		<result property="sCode" column="S_CODE"/>
		<result property="sName" column="S_NAME"/>
	</resultMap>
	
	<resultMap type="VacationInfo" id="VacationInfoResultSet">
		<id property="empNo" column="EMP_NO"/>
		<result property="allDays" column="ALL_DAYS"/>
		<result property="usedDays" column="USED_DAYS"/>
		<result property="leftDays" column="LEFT_DAYS"/>
	</resultMap>
	
	
	<select id="selectWork" parameterType="_int" resultMap="workResultSet">
		SELECT
			  WORK_NO
			, EMP_NO
			, WORK_DATE
			, SUBSTR(START_TIME, 11, LENGTH(START_TIME)) START_TIME
			, SUBSTR(END_TIME, 11, LENGTH(END_TIME)) END_TIME
		  FROM
		    WORK
		 WHERE EMP_NO = #{empNo} AND TO_CHAR(WORK_DATE, 'yy/MM/dd') = TO_CHAR(CURRENT_DATE, 'yy/MM/dd')
	</select>
	
	<insert id="insertWork" parameterType="_int">
		INSERT INTO WORK
		(WORK_NO, EMP_NO, WORK_DATE, START_TIME)
		VALUES
		('W'||#{empNo}||'-'||TO_CHAR(CURRENT_DATE, 'yyyyMMdd'), #{empNo}, CURRENT_DATE, TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS'))
	
	</insert>
	
	<update id="updateWork" parameterType="string">
		UPDATE WORK
		SET END_TIME=TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS')
		WHERE WORK_NO=#{wNo}
	</update>
	
	<insert id="insertWorkStatus" parameterType="WorkSInfo">
		INSERT INTO WORK_STATUS_INFO 
		VALUES
		(SEQ_WSNO.NEXTVAL, #{sCode},#{workNo})
	</insert>
	
	
	<select id="selectWorkList" parameterType="Work" resultMap="workResultSet">
			<![CDATA[
			SELECT 
			    WORK_NO,
			    EMP_NO,
			    TO_DATE(TO_CHAR(WORK_DATE, 'YYMMDD'), 'YY/MM/DD') WORK_DATE,
			    CASE
			        WHEN START_TIME = NULL THEN NULL
			        ELSE SUBSTR(TO_TIMESTAMP(START_TIME, 'yyyy/MM/dd hh24:MI:ss'), 10, 8)
			    END START_TIME,
			    CASE
			        WHEN END_TIME = NULL THEN NULL
			        ELSE SUBSTR(TO_TIMESTAMP(END_TIME, 'yyyy/MM/dd hh24:MI:ss'), 10, 8) 
			    END END_TIME,
			    TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24)
			    || 'h '
			    || TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24*60
			    - TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24)*60) 
			    || 'm '
			    || TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24*60*60
			    - TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24*60)*60)
			    || 's' TOTAL_TIME
			 FROM
			    WORK
			WHERE EMP_NO = #{empNo}
			AND (WORK_DATE BETWEEN NEXT_DAY((TRUNC(TO_DATE(#{strDate}, 'yy/MM/dd'),'MONTH')-7),'월') AND NEXT_DAY(LAST_DAY(TO_DATE(#{strDate}, 'yy/MM/dd'))-1, '일'))
			
			UNION
			
			SELECT 
			    NULL
			  , NULL
			  , YMD WORK_DATE
			  , NULL
			  , NULL
			  , NULL
			FROM 
			    (
			    SELECT 
			        NEXT_DAY((TRUNC(TO_DATE(#{strDate}, 'yy/MM/dd'),'MONTH')-7),'월')+(LEVEL - 1) YMD
			    FROM 
			        DUAL
			    CONNECT BY NEXT_DAY((TRUNC(TO_DATE(#{strDate}, 'yy/MM/dd'),'MONTH')-7),'월')+(LEVEL-1) <= NEXT_DAY(LAST_DAY(TO_DATE(#{strDate}, 'yy/MM/dd'))-1, '일')
			    )
			WHERE YMD NOT IN (
			    SELECT
			        TO_CHAR(WORK_DATE,'YY/MM/DD')
			    FROM
			        WORK
			    WHERE EMP_NO = #{empNo}
			)
			ORDER BY WORK_DATE
		]]>
	</select>
	
	<select id="selectVacationInfo" parameterType="_int" resultMap="VacationInfoResultSet">
		SELECT *
	      FROM VACATION_INFO
	     WHERE EMP_NO = #{empNo}	
	</select>
</mapper>