<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		
	</settings>
	
	<typeAliases>
		<typeAlias type="com.workie.easy.work.model.dto.Work" alias="Work"/>
		<typeAlias type="com.workie.easy.work.model.dto.WorkSInfo" alias="WorkSInfo"/>
		<typeAlias type="com.workie.easy.work.model.dto.VacationInfo" alias="VacationInfo"/>
		<typeAlias type="com.workie.easy.work.model.dto.EmpVacation" alias="EmpVacation"/>
		
		<typeAlias type="com.workie.easy.mail.model.dto.Mail" alias="Mail"/>
	    <typeAlias type="com.workie.easy.mail.model.dto.MailPageInfo" alias="MailPageInfo"/>
	    <typeAlias type="com.workie.easy.mail.model.dto.MailPagination" alias="MailPagination"/>
	</typeAliases>
		
	<mappers>
		<mapper resource="/mappers/work-mapper.xml"/>
		<mapper resource="/mappers/mail-mapper.xml"/>
	</mappers>
	
</configuration>
