<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		
	</settings>
	
	<typeAliases>
		<typeAlias type="com.workie.easy.employee.model.dto.Employee" alias="Employee"/>
		
		<typeAlias type="com.workie.easy.sign.model.dto.Sign" alias="Sign"/>
		
		<typeAlias type="com.workie.easy.work.model.dto.Work" alias="Work"/>
		<typeAlias type="com.workie.easy.work.model.dto.WorkSInfo" alias="WorkSInfo"/>
		<typeAlias type="com.workie.easy.work.model.dto.VacationInfo" alias="VacationInfo"/>
		<typeAlias type="com.workie.easy.work.model.dto.EmpVacation" alias="EmpVacation"/>
	    <typeAlias type="com.workie.easy.mail.model.dto.MailType" alias="MailType"/>
		<typeAlias type="com.workie.easy.mail.model.dto.Mail" alias="Mail"/>
	    <typeAlias type="com.workie.easy.mail.model.dto.MailPageInfo" alias="MailPageInfo"/>
	    <typeAlias type="com.workie.easy.mail.model.dto.MailPagination" alias="MailPagination"/>
	    <typeAlias type="com.workie.easy.common.model.dto.Attachment" alias="Attachment"/>
	    <typeAlias type="com.workie.easy.employee.model.dto.Employee" alias="Employee"/>
	    
	    <typeAlias type="com.workie.easy.schedule.model.dto.Schedule" alias="Schedule"/>
	    <typeAlias type="com.workie.easy.mail.model.dto.Department" alias="Department"/>
	    
	</typeAliases>
		
	<mappers>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/sign-mapper.xml"/>
		<mapper resource="/mappers/work-mapper.xml"/>
		<mapper resource="/mappers/mail-mapper.xml"/>
		<mapper resource="/mappers/attachment-mapper.xml"/>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/personnel-mapper.xml"/>
		<mapper resource="/mappers/schedule-mapper.xml"/>
	</mappers>
	
</configuration>
